.section-title {
  height: 50px;

  background: rgb(202, 152, 106);
  color: #fff;

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &:hover {
    cursor: default;
  }
}
