.image {
  .image-top {
    position: relative;

    img {
      max-width: 100%;
    }
  }

  .image-bottom {
    margin: 15px 0;
    text-align: center;

    .image__title {
      margin-bottom: 15px;
    }
  }
}
